In [1]:
import pandas as pd
import os
import warnings
warnings.filterwarnings('ignore')

from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score, GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import MinMaxScaler
from sklearn import metrics

In [2]:
database = pd.read_csv('./datasets/dataframe0.csv')

In [3]:
for x in range(243):
    new_data = pd.read_csv('./datasets/dataframe'+str(x+1)+'.csv')
    database = pd.concat([database, new_data])

In [5]:
df = database
df.shape

(7272, 8)

In [7]:
# security = database

In [8]:
df = df.reset_index()

In [9]:
df[df['sqft_surface']=='None']

,index,address,district,neighbourhood,sqft_surface,bedrooms,bathrooms,new_construction,price
163,13,"Casa en Carrer de Pedro Cabanes, nº 25",Torrefiel,Rascanya,None,1,689\r\n €/m²,None,120.000
578,8,"Loft en Carrer del Dramaturg Àngel Guimerà, ce...",La Petxina,Extramurs,None,1,3.571\r\n €/m²,None,125.000
815,5,Piso en calle de Villanueva de Castellón,Tormos,La Saïdia,None,1,971\r\n €/m²,None,67.000
868,28,Piso en calle Regino Mas,Ciutat Fallera,Benicalap,None,1,563\r\n €/m²,None,40.034
941,11,Casa en Benifaraig,Benifaraig,Pobles del Nord,None,3,793\r\n €/m²,None,73.000
...,...,...,...,...,...,...,...,...,...
7028,14,Piso en Russafa,Russafa,L'Eixample,None,2,2.979\r\n €/m²,None,295.000
7259,5,Piso en calle Alfahuir,Orriols,Rascanya,None,None,None,None,346.800
7263,9,"Piso en calle de Escalante, nº 16",El Cabanyal-El Canyamelar,Poblats Marítims,None,2,3ª planta,None,248.950
7270,16,"Piso en calle de Sagunto, nº 3",El Carme,Ciutat Vella,None,2,3ª planta,None,335.000
7271,17,Piso en calle de la Bolsería,El Mercat,Ciutat Vella,None,None,None,None,242.000

In [10]:
try_df = df[df.sqft_surface != 'None']

In [11]:
df_noduplicates =  try_df.drop_duplicates()
df_noduplicates.shape

(7100, 9)

In [12]:
df_noduplicates

,index,address,district,neighbourhood,sqft_surface,bedrooms,bathrooms,new_construction,price
0,0,"Piso en Avinguda del CID, cerca de Plaça de Pe...",Soternes,L'Olivereta,100,3,1,None,104.0
1,1,Piso en Sant Isidre,Sant Isidre,Patraix,105,3,2,None,129.7
2,2,Piso en Els Orriols,Orriols,Rascanya,79,3,1,None,69.0
3,3,"Piso en Carrer de Pedro Cabanes, cerca de Aven...",Sant Antoni,La Saïdia,68,3,1,None,63.5
4,4,"Casa en calle de Escalante, cerca de Calle del...",El Cabanyal-El Canyamelar,Poblats Marítims,42,1,1,None,100.0
...,...,...,...,...,...,...,...,...,...
7265,11,Casa en Valencia,Favara,Patraix,354,4,4,None,375.0
7266,12,"Piso en calle de Navarra, nº 10",Arrancapins,Extramurs,127,4,2,None,267.0
7267,13,"Piso en calle de Blanes, nº 3",El Mercat,Ciutat Vella,151,4,2,None,336.0
7268,14,"Piso en calle del Padre Urbano, nº 19",Sant Antoni,La Saïdia,191,4,2,None,360.0
7269,15,"Piso en Carrer de Maties Perelló, nº 15",Gran Via,L'Eixample,140,6,2,None,315.0

In [15]:
# ### Droping disturbing elements in numerical columns
str_bed = []
str_bath = []

for x in df_noduplicates['bedrooms']:
    y = str(x)
    str_bed.append(y)
for x in df_noduplicates['bathrooms']: # convert elements to string
    y = str(x)
    str_bath.append(y)
    
df_noduplicates['bedrooms'] = str_bed
df_noduplicates['bathrooms'] = str_bath # define column elements as string

bed_todrop = df_noduplicates[df_noduplicates['bedrooms'].map(len) > 1]
bath_todrop = df_noduplicates[df_noduplicates['bathrooms'].map(len) > 1] # select the elements to drop

index_todrop = list(bed_todrop.index)
index_todrop2 = list(bath_todrop.index)


for x in index_todrop:
    df_noduplicates = df_noduplicates.drop([x])


for x in index_todrop2:
    try:
        df_noduplicates = df_noduplicates.drop([x])
    except:
        pass
df_noduplicates.head()

,index,address,district,neighbourhood,sqft_surface,bedrooms,bathrooms,new_construction,price
0,0,"Piso en Avinguda del CID, cerca de Plaça de Pe...",Soternes,L'Olivereta,100,3,1,None,104.0
1,1,Piso en Sant Isidre,Sant Isidre,Patraix,105,3,2,None,129.7
2,2,Piso en Els Orriols,Orriols,Rascanya,79,3,1,None,69.0
3,3,"Piso en Carrer de Pedro Cabanes, cerca de Aven...",Sant Antoni,La Saïdia,68,3,1,None,63.5
4,4,"Casa en calle de Escalante, cerca de Calle del...",El Cabanyal-El Canyamelar,Poblats Marítims,42,1,1,None,100.0

#### Correcting address column

In [16]:
df_noduplicates['address'] = df_noduplicates['address'].apply(lambda x: x.split(',')[0])
df_noduplicates['address'] = df_noduplicates['address'].apply(lambda x: x.split(' en ')[1])
df_noduplicates['address'] = df_noduplicates['address'].apply(lambda x: x.strip("'"))
df_noduplicates['address'] = df_noduplicates['address'].apply(lambda x: x.split("-")[0])

#### Save dataset to csv

In [215]:
df_noduplicates.to_csv('master_data.csv', index=False)
df_noduplicates.head()

,index,address,district,neighbourhood,sqft_surface,bedrooms,bathrooms,new_construction,price
0,0,Avinguda del CID,Soternes,L'Olivereta,100,3,1,None,104.0
1,1,Sant Isidre,Sant Isidre,Patraix,105,3,2,None,129.7
2,2,Els Orriols,Orriols,Rascanya,79,3,1,None,69.0
3,3,Carrer de Pedro Cabanes,Sant Antoni,La Saïdia,68,3,1,None,63.5
4,4,calle de Escalante,El Cabanyal-El Canyamelar,Poblats Marítims,42,1,1,None,100.0

In [17]:
to_try = df_noduplicates.drop(columns=['index','district'])

In [18]:
to_try['bathrooms'].value_counts()

1    3495
2    3264
3     220
4      47
5       3
6       1
Name: bathrooms, dtype: int64

In [19]:
indexNames = to_try[to_try['neighbourhood'] == 'Capital)' ].index
to_try.drop(indexNames , inplace=True)

In [20]:
to_try['price'] = pd.to_numeric(to_try['price'])
to_try['sqft_surface'] = pd.to_numeric(to_try['sqft_surface'])
to_try['bedrooms'] = pd.to_numeric(to_try['bedrooms'])
to_try['bathrooms'] = pd.to_numeric(to_try['bathrooms'])

In [21]:
to_try.dtypes

address              object
neighbourhood        object
sqft_surface        float64
bedrooms              int64
bathrooms             int64
new_construction     object
price               float64
dtype: object

In [22]:
numerical = to_try.select_dtypes(include='number')
categorical = to_try.select_dtypes(include='object')

In [109]:
#### Getting dummies
dummies = pd.get_dummies(categorical, drop_first=True)

In [110]:
data = pd.concat([numerical, dummies], axis=1)
X = data.drop(['price'], axis=1)
y = data['price']

In [111]:
#### LET'S GOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO

In [112]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [113]:
RFReg = RandomForestRegressor(n_estimators = 500, random_state = 0)
  
#Fit the random forest regressor with training data represented by X_train and y_train
RFReg.fit(X_train, y_train)

RandomForestRegressor(n_estimators=500, random_state=0)

In [97]:
rfr_model(X, y)

[-41.87592243 -44.32882207 -37.068449   -39.21059788 -39.20970235
 -38.01770915 -34.58337839 -69.37919381 -67.74831491 -74.94861343]

In [114]:
y_predict_rfr = RFReg.predict((X_test))

In [163]:
unclear_address = df_noduplicates[df_noduplicates['address'].map(len) < 5]

In [164]:
unclear_address['address'].value_counts()

a    3641
l     665
v     557
e     510
o     440
r     328
-     254
u     220
i     213
       77
x      56
n      56
I      10
y       6
*       5
s       4
C       2
        2
m       1
R       1
Name: address, dtype: int64

In [161]:
for a, b in zip()

7024